{% extends 'base.html' %}
{% block extra_header %}
{% endblock %}

{% block title %}
    update
{% endblock %}

{% block body %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="alert alert-success" role="alert">
                    {{ message }} <a href="{% url 'patient_home' %}" class="alert-link">kiosk page</a>.
                </div>

            {% else %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                    <form action="{% url 'new_appointment_form' %}">
                        <input type="hidden" name="patient_id"
                               value={{ patient_id }}>
                        <button type="submit" class="btn btn-primary">Try again</button>
                    </form>
                 <a href="{% url 'patient_home' %}" class="alert-link">kiosk page</a>.
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

{% endblock %}
