{% extends 'base.html' %}
{% block extra_header %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'drchrono/css/load.css' %}">
{% endblock %}

{% block title %}
    doctor_welcome
{% endblock %}

{% block body %}
    {# no appointment today#}
    {% if size == 0 %}
        <div class="alert alert-primary" role="alert">
            <button class="close" data-dismiss="alert">
                <small><sup>x</sup></small>
            </button>
            You don't have appointment today!
        </div>
    {% endif %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand" href="{% url 'social:begin' 'drchrono' %}"><img
                src="https://dka575ofm4ao0.cloudfront.net/pages-transactional_logos/retina/669/Jzn62YCTmq3Drbc2BrmL"
                alt="" width="125" height="35"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'social:begin' 'drchrono' %}">Appointments <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank"  href="{% url 'patient_home' %}">Kiosk</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="to_do_list.html">Todo-List</a>
                </li>
            </ul>
        </div>
    </nav>

    <h1>Welcome Doctor {{ first_name }} {{ last_name }}!</h1>
    <h3 style="float:right;"><span class="badge badge-info">Average Waiting time: {{ average_waiting_time }}min</span>
    </h3>
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Scheduled Time</th>
            <th>Patient</th>
            <th>Status</th>
            <th>Update</th>
        </tr>
        </thead>

        <tbody>
        {% for appointment in appointments %}
            {# when patient is late#}
            {% if appointment.is_late == '1' %}
                <tr class="table-secondary">
                    <td>
                        {{ appointment.appointment_detail.scheduled_time }}

                    </td>
                    <td>
                        <label data-toggle="tooltip"
                               data-placement="right"
                               title="body_temperature: {{ appointment.body_info.body_temperature }}°C">
                            {{ appointment.patient_detail.first_name }} {{ appointment.patient_detail.last_name }}
                        </label>
                    </td>
                    <td>
                        {% if appointment.appointment_detail.status|length %}
                            {{ appointment.appointment_detail.status }}
                        {% else %}
                            Not Arrived
                        {% endif %}
                        <form action="{% url 'time_stat' %}" style="float: right;">
                            <input type="hidden" name="appointment_id"
                                   value={{ appointment.appointment_detail.id }}>
                            <h5>
                                <button type="submit" class="btn btn-secondary" data-toggle="tooltip"
                                        data-placement="right"
                                        title="time statistic">
                                    <i class="material-icons">alarm</i>
                                </button>
                            </h5>
                        </form>
                    </td>
                    <td>
                        {% if appointment.appointment_detail.status == 'In Session' %}
                            <form action="{% url 'update_appointment_status' %}">
                                <input type="hidden" name="appointment_id"
                                       value={{ appointment.appointment_detail.id }}>
                                <input type="hidden" name="start" value="0">
                                <input type="submit" value="Complete Session">
                            </form>
                        {% elif appointment.appointment_detail.status == 'Complete' %}
                            <span class="badge badge-pill badge-sucess">Session End</span>
                        {% elif appointment.appointment_detail.status == 'Arrived' %}
                            <form action="{% url 'update_appointment_status' %}">
                                <input type="hidden" name="appointment_id"
                                       value={{ appointment.appointment_detail.id }}>
                                <input type="hidden" name="start" value="1">
                                <input type="submit" value="Start Session">
                            </form>

                        {% else %}
                            <span class="badge badge-pill badge-warning">absent</span>
                        {% endif %}

                    </td>
                </tr>
            {% else %}
                <tr>
                    <td>
                        {{ appointment.appointment_detail.scheduled_time }}

                    </td>
                    <td>
                        <label data-toggle="tooltip"
                               data-placement="right"
                               title="body_temperature: {{ appointment.body_info.body_temperature }}°C">
                            {{ appointment.patient_detail.first_name }} {{ appointment.patient_detail.last_name }}
                        </label>

                    </td>
                    <td>
                        {% if appointment.appointment_detail.status|length %}
                            {{ appointment.appointment_detail.status }}
                        {% else %}
                            Not Arrived
                        {% endif %}
                        <form action="{% url 'time_stat' %}" style="float: right;">
                            <input type="hidden" name="appointment_id"
                                   value={{ appointment.appointment_detail.id }}>
                            <h5>
                                <button type="submit" class="btn btn-secondary" data-toggle="tooltip"
                                        data-placement="right"
                                        title="time statistic">
                                    <i class="material-icons">alarm</i>
                                </button>
                            </h5>
                        </form>
                    </td>
                    <td>
                        {% if appointment.appointment_detail.status == 'In Session' %}
                            <form action="{% url 'update_appointment_status' %}">
                                <input type="hidden" name="appointment_id"
                                       value={{ appointment.appointment_detail.id }}>
                                <input type="hidden" name="start" value="0">
                                <input type="submit" value="Complete Session">
                            </form>
                        {% elif appointment.appointment_detail.status == 'Complete' %}
                            <span class="badge badge-pill badge-success">Session End</span>
                        {% elif appointment.appointment_detail.status == 'Arrived' %}
                            <form action="{% url 'update_appointment_status' %}">
                                <input type="hidden" name="appointment_id"
                                       value={{ appointment.appointment_detail.id }}>
                                <input type="hidden" name="start" value="1">
                                <input type="submit" value="Start Session">
                            </form>

                        {% else %}
                            <span class="badge badge-warning">absent</span>
                        {% endif %}

                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>

    </table>
    {# loading page#}
    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
    <script>
        $(window).on("load", function () {
            $(".loader-wrapper").fadeOut("slow");
        });
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

{% endblock %}

